@import "autocomplete";
@import "fonts";

.gv-location{
    max-width: 320px;
}

.gv-location__form::before{
    display: flex;
    color: #bdbdbd;
    font-size: 18px;
    float: left;
    padding: 8px 4px 0 6px;
}

.gv-location__input_wrapper{
    position: relative;
}

#gv-autoComplete{
    width: 100%;
    height: 30px;
    padding: 4px 10px 3px;
    border: 1px solid #bababa;
    border-radius: 100px;
    background: white;
    font-weight: normal;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus, option:focus{   
    border-color:none;
    box-shadow: none;
    outline: 0 none;
}

.gv-location-reset__btn{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 0;
    border: 0;
    border-radius: 100px;
    outline: 0;
    padding: 0;
    color: #333;
    background: #eaeaea;
    visibility: hidden;
    width: 28px;
    height: 28px;
}

.gv-location__label{
    @include fs-textSans(3);
}