@import "fonts";

.gv-location {
    width: auto;
    height:100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    justify-content: space-between;
    @include mq($until:tablet) {
        width: 100%;
        flex-direction: column;
        height:auto;

    }
    z-index: 4;

    ul>li:before{
        
        margin-right: 0!important;
        width: 0!important;

    }

}

    

.gv-location__form {

    display: flex;
    flex-direction: column;
    font-size: 18px;
    float: left;
    right: 0px;
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    align-self: flex-end;
    position:absolute;
    z-index: 1;


    @include mq($until:tablet) {
        min-width: calc(100% - 8px);
        margin: 4px 4px 0 4px;
    }

    @include mq(desktop) {
        min-width: 330px;
        margin: 8px 8px 0 0;
    }


}
.gv-location__input{
    width: 100%;
}

.gv-location__input_wrapper {
    position: relative;
    display: flex;

    svg {
        position: absolute;
        right: 3px;
        top: 9px;

        path {
            fill: #b4b4b4;
        }

    }
}

#gv-search-box {

    @include fs-textSans(3);
    font-size: 17px;
    color: #121212;
    height: 44px;
    border: 0px;// solid #bababa;
    background: white;
    font-weight: normal;
    width: 100%;
}

#gv-location__error-mesage {
    margin-top: 4px;
    @include fs-textSans(3);
    font-weight: 500;
    font-style: italic;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus,
select:focus,
option:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

.gv-location-reset__btn {

    @include fs-textSans(3);
    font-size: 17px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 165px;
    height: 44px;
    background-color: #bababa;
    pointer-events: none;
    outline: none;
    min-height: 44px;
    margin: 8px 0 0 8px;
    margin: 0 8px 8px 0px;
    align-self: flex-end;
    position: absolute;
    bottom: 0px;
    cursor: default;

    &.enabled{
        background-color: #000;
        pointer-events: all;
        visibility: visible;
        cursor: pointer;
    }

    @include mq($until:tablet) {
        margin-top: 12px;
        visibility: hidden;
        align-self: flex-start;
        top:60px;
        left: 8px;

    }
}

.gv-location__label {
    color: #121212;
    @include fs-textSans(3);
    line-height: 135%;
    margin-bottom: 4px;
    font-weight: 700;
}

#autoComplete,
#map-autoComplete {
    //position: absolute;
    z-index: 100000;
    border: 0;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    outline: 0;
    text-overflow: ellipsis;
}

#autoComplete_list_1 {

    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #ffffff;
    border-top: none;
    font-size: 16px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 28px;

}

.autoComplete_selected {
    cursor: pointer;
    background-color: #bababa;
}

[role='option'] {
    position: relative;
    list-style: none;
    text-align: left;
    color: #212121;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #ffffff;
    cursor: pointer;
}

[role='option']:hover {
    background-color: #f6f6f6;
}

.no_result {
    font-size: 14px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 51px;
}

li[aria-selected="true"] {
    background-color: #f6f6f6;
  }