@import "fonts";

.gv-location{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    padding: 18px 5px 0 15px;
}

.gv-location__form{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    float: left;
    //padding: 8px 4px 0 6px;
    right: 0px;
    //width: 100%;
    //max-width:392px;
}

.gv-location__input_wrapper{
    position: relative;
    display: flex;
    max-width: 390px;

    .autoComplete_wrapper{
        min-width:392px;
    }
    svg{
        position: absolute;
        right: 3px;
        top: 3px;
        path{
            fill: #b4b4b4;
        }
        
    }
}

#gv-autoComplete{
    height: 30px;
    width: 100%;
    max-width: 392px;
    padding: 4px 10px 3px;
    border: 1px solid #bababa;
    border-radius: 8px 8px 8px 8px;
    background: white;
    font-weight: normal;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus, option:focus{   
    border-color:none;
    box-shadow: none;
    outline: 0 none;
}

.gv-location-reset__btn{

    @include fs-textSans(3);
    font-size: 17px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 165px;
    height: 44px;
    background-color: #052962;
    outline:none;
    visibility: hidden;
    //align-self :center;
}

.gv-location__label{
    @include fs-textSans(3);
}

#autoComplete,
#map-autoComplete {
    //position: absolute;
    z-index: 100000;
    width: 100%;
    max-width:392px;
    border: 0;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    outline: 0;
    text-overflow: ellipsis;
}

#autoComplete_list_1 {
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #f6f6f6;
    border-top: none;
    width: 100%;
    max-width:392px;    
    font-size: 16px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 28px;

}

.autoComplete_selected {
    cursor: pointer;
    background-color: #dcdcdc;
}

[role='option'] {
    position: relative;
    list-style: none;
    text-align: left;
    color: #212121;
    //width: calc(100% - 51px);
    max-width:392px;
    //padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #f6f6f6;
}

[role='option']:hover {
    background-color: #dcdcdc;
}

.no_result {
    font-size: 14px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 28px;
    width: calc(100% - 51px);
    max-width:392px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 51px;
}
