
    <table class="gv-color-key-table">
        <h1 class="gv-color-key-table__header">How we define what is affordable for you</h1>
        <tr>
            <th></th>
            <th></th>
            <th>Mortgage cost (ie. 90% of house price*)
                <p>As number of times annual income</p>
            </th>
            <th>Rent cost
                <p>As % of monthly income</p>
            </th>
        </tr>
        <tr>
            <td class='key-box' id="color1" style="width: 3px"></td>
            <td class="gv-color-key-table__description">Can buy, can rent</td>
            <td id="gv-color-key-table__house-price">Less than (and inc.) 2.5 times</td>
            <td id="gv-color-key-table__annual-income">Less than (and inc.) 30%</td>
        </tr>
        <tr>
            <td class='key-box' id="color2"></td>
            <td class="gv-color-key-table__description">Can buy, can rent</td>
            <td id="gv-color-key-table__house-price">Less than (and inc.) 3.5 times</td>
            <td id="gv-color-key-table__annual-income">Less than (and inc.) 30%</td>
        </tr>
        <tr>
            <td class='key-box' id="color3"></td>
            <td class="gv-color-key-table__description">Can buy, can rent</td>
            <td id="gv-color-key-table__house-price">Less than (and inc.) 4.5 times</td>
            <td id="gv-color-key-table__annual-income">Less than (and inc.) 30%</td>
        </tr>
        <tr>
            <td class='key-box' id="color5"></td>
            <td class="gv-color-key-table__description">Can't buy, can rent</td>
            <td id="gv-color-key-table__house-price">Greater than 4.5 times</td>
            <td id="gv-color-key-table__annual-income">Less than (and inc.) 20%</td>
        </tr>
        <tr>
            <td class='key-box' id="color6"></td>
            <td class="gv-color-key-table__description">Can't buy, can rent</td>
            <td id="gv-color-key-table__house-price">Greater than 4.5 times</td>
            <td id="gv-color-key-table__annual-income">Less than (and inc.) 30%</td>
        </tr>
        <tr>
            <td class='key-box' id="color7"></td>
            <td class="gv-color-key-table__description">Can't buy, can't rent</td>
            <td id="gv-color-key-table__house-price">Greater than 4.5 times</td>
            <td id="gv-color-key-table__annual-income">Greater than 30%</td>
        </tr>

        <tr>
            <td class='key-box' id="color4"></td>
            <td class="gv-color-key-table__description">Can buy, can't rent</td>
            <td id="gv-color-key-table__house-price">Greater than (and inc.) 4.5 times</td>
            <td id="gv-color-key-table__annual-income">Greater than 30%</td>
        </tr>
        
    </table>
    <div class="gv-table-footnote">
        *You can increase the deposit value in the tool
    </div>
