// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
//@import "dcr_enhancer"; // default left column enhancer, works with inline, showcase and immersive weighting
//@import "full_immersive_enhancer"; // full-width enhancer, to be used with immersive weighting. Removes left colum, sets 100vw atom width at any breakpoint
// @import "darkmodedefault"; // basic media queries for adding dark mode and several default colours

/*----- Vertical scrollbar width used for sizing full viewport width elements -----*/


    .gv-color-key-table__header{
        border-top: 1px solid #dcdcdc;
        max-width: 620px;
    }

.key-box{width: 3px; height: 5px; border-radius: 3px;}

#color1{background-color: #135e58;}
#color2{background-color: #329890;}
#color3{ background-color: #88cfc8;}
#color5{ background-color: #ffaf81;}
#color6{ background-color: #e25d28;}
#color7{ background-color: #a50b06;}

#color4{ background-color: #fff700;}

.gv-color-key-table__header{
    padding: 6px 0 10px 0;
    margin: 0;
    font-family: 'GH Guardian Headline', Georgia, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #121212;
}

.gv-color-key-table__subheader{

    padding: 0 0 25px 0;
    margin: 0;
    @include fs-textSans(3);
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    color: #121212;

}

.gv-color-key-table{

 
    border-collapse: separate;
    //margin:5px auto;

    max-width: 620px;

    @include mq(leftCol) {
        margin-left: 0px;
    }
    
    @include mq(wide) {
        margin-left: 0px;
    }

}

.gv-color-key-table tbody tr td{
    @include fs-textSans(3);
    color:#000;
    font-size:14px;
    padding:10px 0 10px 8px;
    border-bottom:1px solid #e0e0e0;
    text-align: left;
}

.gv-color-key-table th{
    @include fs-textSans(3);
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding:0px 0 10px 8px;

    p{
        font-weight: 300;
    }
}

.gv-color-key-table tbody tr td:first-child{
    padding:10px 8px 10px 2px;
}

.gv-table__description{

    font-weight: bold;
}

// #gv-table__annual-income,#gv-table__percent-income{
//     font-size: 14px;
// }

.gv-table-footnote{
    width: 100%;
    max-width: 620px;
    background-color: white;
    @include fs-textSans(3);
    height: auto;
    min-height: 20px;
    margin-top:4px;
    margin-bottom: 2px;
    padding: 6px 0 6px 0;
    font-size: 12px;
    line-height: 15px;
    color: #767676;
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;

}
