<div id="gv-wrapper">
    <div class="gv-location">
        <form class="gv-location__form">
            <!-- <span class="gv-location__label">Select your area</span> -->
            <div class="gv-location__input_wrapper">
                <div class="gv-location__input">
                    <input id="gv-autoComplete" type="text" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="none" maxlength="4" tabindex="1" role="combobox" aria-haspopup="true" aria-expanded="false" aria-controls="autoComplete_list" aria-autocomplete="both" placeholder="Start typing a postcode">
                    <label id="gv-location__error-mesage"></label>
                </div>
                <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="currentColor" d="M15.9,14.3H15L14.7,14c1-1.1,1.6-2.7,1.6-4.3c0-3.7-3-6.7-6.7-6.7S3,6,3,9.7 s3,6.7,6.7,6.7c1.6,0,3.2-0.6,4.3-1.6l0.3,0.3v0.8l5.1,5.1l1.5-1.5L15.9,14.3z M9.7,14.3c-2.6,0-4.6-2.1-4.6-4.6s2.1-4.6,4.6-4.6 s4.6,2.1,4.6,4.6S12.3,14.3,9.7,14.3z"></path></svg>
            </div>
        </form>
        <button class="gv-location-reset__btn" type="button" tabindex="2" data-focus="">
            Reset zoom
        </button>
    </div>
    <div id="gv-map"></div>
    <div id="gv-map-tooltip"></div>
    <div id="scroll-message">
        <div class="scroll-message-bg"></div>
        <p></p>
    </div>
    <div id="gv-control-panel">
        <div class="gv-results-wrapper">
            <article id="gv-article" class="gv-tab">
                <h4 id="gv-article-header"></h4>
                <p id="gv-article-paragraph"></p>
            </article>
            <form id="gv-form" class="gv-tab">
                <div class="gv-form__income-wrapper">
                    <label>Introduce your income</label>
                    <input id="gv-salary-input" type="text" autocomplete="off" placeholder="Enter gross annual household income">
                    <label id="gv-salary__error-mesage"></label>
                </div>
                <div class="gv-form__bedrooms-wrapper">
                    <label>Select number of rooms</label>
                    <div id="gv-bedrooms-input">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                    </div>
                      
                    <!-- <select id="gv-bedrooms-input" name="number-of-bedrooms" multiple="none" autocomplete="off">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select> -->
                </div>
            </form>
            <div id="gv-table" class="gv-tab">
                <h2>[Postal_district_name]</h2>
                <p id="gv-table__standfirst"></p>
                <div class="gv-table__wrapper">
                    <table>
                        <tr>
                            <td>Median house price</td>
                            <td id="gv-table__house-price">£[XBedSale_MedianPrice]</td>
                            <td id="gv-table__annual-income">[xx] times annual income</td>
                        </tr>
                        <tr>
                            <td>Median rent</td>
                            <td id="gv-table__rent-price">£[XbedRent_MedianPrice]</td>
                            <td id="gv-table__percent-income">[xx]% monthly income</td>
                        </tr>
                    </table>
                    <label id="gv-table__label">The majority of areas in this postcode district fall in [LA] local authority.</label>
                </div>
            </div>
        </div>
        <div id="gv-panel__color-scale_wrapper">
            
        </div>
        <div id="gv-panel__btn_wrapper">
            <button class="gv-panel-btn" id="prevBtn"></button>
            <button class="gv-panel-btn" id="nextBtn">Start</button>
        </div>
    </div>
</div>
